@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>My contact page</h3>

<address>
    1, Prunilor St.<br />
    Cluj-Napoca, Cluj 400344, Romania<br />
    <abbr title="Phone">P:</abbr>
    (+40) 74 000 2657
</address>

<address>
    <strong>Support:</strong> <a href="mailto:ttgoga@yahoo.com">ttgoga@yahoo.com</a>
</address>
